<div class="sign-up-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="trinta-form ml-auto mr-auto bg-white border-radius"
            >
                <div class="title text-center">
                    <h3>
                        {{ 'REGISTER_YOUR_ACCOUNT' | translate }}
                    </h3>
                    <p class="text-black fs-15">
                        {{ 'ALREADY_REGISTERED' | translate }} <a routerLink="/auth/sign-in" class="text-primary fw-medium">{{ 'SIGN_IN_HERE' | translate }}</a>
                    </p>
                </div>
                <div class="signup-with-socials">
                    <button type="button" mat-button>
                        <img src="images/icons/google2.svg" alt="google">
                        {{ 'SIGN_UP_WITH_GOOGLE' | translate }}
                    </button>
                    <div class="or text-center position-relative z-1 text-body">
                        <span class="d-inline-block bg-white">
                            {{ 'OR_TEXT' | translate }}
                        </span>
                    </div>
                </div>
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            {{ 'EMAIL_ADDRESS' | translate }}
                        </label>
                        <mat-form-field>
                            <i-feather name="mail"></i-feather>
                            <mat-label>{{ 'ENTER_EMAIL' | translate }}</mat-label>
                            <input matInput type="email" id="email" formControlName="email">
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="signUpForm.get('email')!.hasError('required') && signUpForm.get('email')!.touched">
                            {{ 'EMAIL_REQUIRED' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('email')!.hasError('email') && signUpForm.get('email')!.touched">
                            {{ 'INVALID_EMAIL' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('email')!.hasError('serverError')">
                            {{ signUpForm.get('email')!.getError('serverError') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            {{ 'FIRSTNAME' | translate }}
                        </label>
                        <mat-form-field>
                            <i-feather name="user"></i-feather>
                            <mat-label>{{ 'ENTER_FIRSTNAME' | translate }}</mat-label>
                            <input matInput type="firstName" id="firstName" formControlName="firstName">
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="signUpForm.get('firstName')!.hasError('required') && signUpForm.get('firstName')!.touched">
                            {{ 'FIRSTNAME_REQUIRED' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('firstName')!.hasError('minLength') && signUpForm.get('firstName')!.touched">
                            {{ 'INVALID_FIRSTNAME' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('firstName')!.hasError('serverError')">
                            {{ signUpForm.get('firstName')!.getError('serverError') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            {{ 'LASTNAME' | translate }}
                        </label>
                        <mat-form-field>
                            <i-feather name="user"></i-feather>
                            <mat-label>{{ 'ENTER_LASTNAME' | translate }}</mat-label>
                            <input matInput type="lastName" id="lastName" formControlName="lastName">
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="signUpForm.get('lastName')!.hasError('required') && signUpForm.get('lastName')!.touched">
                            {{ 'LASTNAME_REQUIRED' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('lastName')!.hasError('minLength') && signUpForm.get('lastName')!.touched">
                            {{ 'INVALID_LASTNAME' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('lastName')!.hasError('serverError')">
                            {{ signUpForm.get('lastName')!.getError('serverError') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            {{ 'PASSWORD' | translate }}
                        </label>
                        <mat-form-field>
                            <i-feather name="lock"></i-feather>
                            <mat-label>{{ 'ENTER_PASSWORD' | translate }}</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <span class="material-symbols-outlined">
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="signUpForm.get('password')!.hasError('required') && signUpForm.get('password')!.touched">
                            {{ 'PASSWORD_REQUIRED' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('password')!.hasError('minlength') && signUpForm.get('password')!.touched">
                            {{ 'PASSWORD_MIN_LENGTH' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('password')!.hasError('pattern') && signUpForm.get('password')!.touched">
                            {{ 'PASSWORD_PATTERN' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('password')!.hasError('serverError')">
                            {{ signUpForm.get('password')!.getError('serverError') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            {{ 'CONFIRM_PASSWORD' | translate }}
                        </label>
                        <mat-form-field>
                            <i-feather name="lock"></i-feather>
                            <mat-label>{{ 'ENTER_CONFIRM_PASSWORD' | translate }}</mat-label>
                            <input matInput [type]="hideConfirmation ? 'password' : 'text'" id="confirmPassword" formControlName="confirmPassword">
                            <button mat-icon-button matSuffix (click)="hideConfirmation = !hideConfirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmation">
                                <span class="material-symbols-outlined">
                                    {{hideConfirmation ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="signUpForm.get('confirmPassword')!.hasError('required') && signUpForm.get('confirmPassword')!.touched">
                            {{ 'PASSWORD_REQUIRED' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('confirmPassword')!.hasError('minlength') && signUpForm.get('confirmPassword')!.touched">
                            {{ 'PASSWORD_MIN_LENGTH' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('confirmPassword')!.hasError('pattern') && signUpForm.get('confirmPassword')!.touched">
                            {{ 'PASSWORD_PATTERN' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="signUpForm.get('confirmPassword')!.hasError('serverError')">
                            {{ signUpForm.get('confirmPassword')!.getError('serverError') }}
                        </div>
                    </div>
                    <div class="info">
                        <mat-checkbox color="primary">
                            {{ 'I_ACCEPT_THE' | translate }} <a href="javascript:void(0);" class="text-primary">{{ 'TERMS_AND_CONDITIONS' | translate }}</a>
                        </mat-checkbox>
                    </div>
                    <button mat-button type="submit" [disabled]="signUpForm.invalid">
                        {{ 'SIGN_UP_BUTTON' | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>