<div class="forgot-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="trinta-form ml-auto mr-auto bg-white border-radius"
            >
                <div class="title text-center">
                    <h3>
                        Forgot Password!
                    </h3>
                    <p class="text-black fs-15">
                        Enter the email address you used when you joined and we'll send you instructions to reset your password.
                    </p>
                </div>
                <form *ngIf="!formConfirmed" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            Email Address
                        </label>
                        <mat-form-field>
                            <mat-label>Enter Email Address</mat-label>
                            <input matInput id="email" formControlName="email">
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="forgotPasswordForm.get('email')!.hasError('required') && forgotPasswordForm.get('email')!.touched">
                            {{ 'EMAIL_REQUIRED' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="forgotPasswordForm.get('email')!.hasError('email') && forgotPasswordForm.get('email')!.touched">
                            {{ 'INVALID_EMAIL' | translate }}
                        </div>
                        <div class="error text-danger" *ngIf="forgotPasswordForm.get('email')!.hasError('serverError')">
                            {{ forgotPasswordForm.get('email')!.getError('serverError') }}
                        </div>
                    </div>
                    <button mat-button type="submit" [disabled]="forgotPasswordForm.invalid">
                        Send
                    </button>
                    <div class="text-center">
                        <a routerLink="/auth/sign-in" class="text-primary">
                            {{ 'BACK_TO_HOME' | translate }}
                        </a>
                    </div>
                </form>
                <div *ngIf="formConfirmed">
                    <div class="text-center mb-4">
                        <i-feather name="check-circle"></i-feather>
                        <h3>
                            Check Your Email
                        </h3>
                        <p>
                            We have sent password reset instructions to your email.
                        </p>
                        <br/>
                    </div>
                    <a routerLink="/auth/sign-in" mat-button>
                        {{ 'BACK_TO_HOME' | translate }}
                    </a>
            </div>
        </div>
    </div>
</div>