<div class="reset-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="trinta-form ml-auto mr-auto bg-white border-radius"
            >
                <div class="title text-center">
                    <h3>
                        {{ 'RESET_PASSWORD' | translate }}
                    </h3>
                    <p class="text-black fs-15">
                        {{ 'ENTER_PASSWORD_BELOW' | translate }}
                    </p>
                </div>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            {{ 'PASSWORD' | translate }}
                        </label>
                        <mat-form-field>
                            <i-feather name="lock"></i-feather>
                            <mat-label>{{ 'ENTER_PASSWORD' | translate }}</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide">
                                <span class="material-symbols-outlined">
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            {{ 'CONFIRM_PASSWORD' | translate }}
                        </label>
                        <mat-form-field>
                            <i-feather name="lock"></i-feather>
                            <mat-label>{{ 'ENTER_CONFIRM_PASSWORD' | translate }}</mat-label>
                            <input matInput [type]="hide2 ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-pressed]="hide2">
                                <span class="material-symbols-outlined">
                                    {{hide2 ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                    </div>
                    <button mat-button type="submit">
                        {{ 'SET_NEW_PASSWORD' | translate }}
                    </button>
                </form>
                <div class="text-center">
                    <a routerLink="/auth/sign-in" class="text-primary fw-medium">{{ 'BACK_TO_HOME' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>